# Basic Select

In [ ]:
--Revising the Select Query I

select *
from city
where countrycode='USA' and population > 100000;

In [ ]:
--Revising the Select Query II

select name
from city
where population>120000 and countrycode='USA';

In [ ]:
--Select All

select *
from city;

In [ ]:
--Select By ID

select *
from city
where id=1661;

In [ ]:
--Japanese Cities' Attributes

select *
from city
where COUNTRYCODE = 'JPN';

In [ ]:
--Japanese Cities' Names

select name
from city
where COUNTRYCODE='JPN';

In [ ]:
--weather-observation-station-1

select city,state
from station;

In [ ]:
--Weather Observation Station 3

select distinct(city)
from station
where mod(id,2)=0;

In [ ]:
--Weather Observation Station 4

select count(CITY)-count(distinct(CITY))
from STATION;

In [ ]:
--Weather Observation Station 5

select top 1 city, len(city)
from station
order by len(city), city asc
;
select top 1  city, len(city)
from station
order by len(city) desc
;

In [ ]:
--Weather Observation Station 6

select distinct city
from station
where city like '[a,e,i,o,u]%';

In [ ]:
--Weather Observation Station 7

select distinct city
from station
where city like '%[a,e,i,o,u]';

In [ ]:
--Weather Observation Station 8


select distinct city
from station
where city like '[a,e,i,o,u]%' and city like '%[a,e,i,o,u]';

In [ ]:
--Weather Observation Station 9 

select distinct city
from station
where city not like '[a,e,i,o,u]%' ;

In [ ]:
--Weather Observation Station 10 

select distinct city
from station
where city not like '%[a,e,u,o,i]';

In [ ]:
--Weather Observation Station 11

select distinct city
from station
where city not like '%[a,e,u,i,o]' or city not like '[a,e,u,i,o]%'
;

In [ ]:
--Weather Observation Station 12 

select distinct city
from station
where city not like '%[a,e,u,i,o]' and city not like '[a,e,u,i,o]%'

In [ ]:
--Higher Than 75 Marks

select name 
from students
where marks>75
--order by right(name, 3), id asc;
order by substring(name,len(name)-2,3), id;

In [ ]:
--Employee Names 

Select name
from Employee
order by 1 ;

In [ ]:
--Employee Salaries

select name 
from employee
where  salary>2000 and months<10
order by employee_id;